*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid black
}

.loading{
  margin: 20px;
  font-size: 30px
}

.hide{
  display: none
}

.articles{
  margin: auto;
  width: 98%;
}

.container{
  display: flex;
  padding: 10px;
  border-bottom: 3px solid #727272
}

.r{
  padding: 15px;
  max-width: 55%;
  text-align: center
}

.imgs{
  text-align: left;
  max-width: 44%
}

.title{
  margin: 15px
}

.date{
  margin-bottom: 15px
}

.img{
  display: inline-block;
  max-width: 500px
}

.caption{
  color: #727272;
}

small{
  color: #727272;
  text-align: center;
}

.abstrate{
  margin: 15px
}

.byline{
  border-top: 1px solid #727272;
  border-bottom: 1px solid #727272;
  padding: 10px
}

.link{
  opacity: .9;
  font-weight: bold;
  display: inline-block;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 3px
}

.link:hover{
  opacity: .5;

}

.footer{
  border-top: 1px solid black;
  padding: 20px;
  text-align: center
}

@media (max-width: 890px){
  .container{
    display: block
  }
  .r{
    max-width: 100%
  }
  .imgs{
    text-align: center;
    max-width: 100%
  }
  .img{
    max-width: 300px
  }
}